<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net"
                 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="abot"
                 type="Abot.Core.AbotConfigurationSectionHandler, Abot" />
    </configSections>
    <connectionStrings>
        <add name="SqlServerRepository" connectionString="Data Source=Fry\SQLEXPRESS;Initial Catalog=ThrongBot;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <abot>
        <crawlBehavior crawlTimeoutSeconds="120"
                       maxConcurrentThreads="1"
                       maxPagesToCrawl="214748364"
                       maxPagesToCrawlPerDomain="0"
                       isExternalPageCrawlingEnabled="false"
                       isExternalPageLinksCrawlingEnabled="false"
                       userAgentString="Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0"
                       downloadableContentTypes="text/html, text/plain"
                       isUriRecrawlingEnabled="false"
                       isHttpRequestAutoRedirectsEnabled="true"
                       isHttpRequestAutomaticDecompressionEnabled="false"
                       minAvailableMemoryRequiredInMb="0"
                       maxMemoryUsageInMb="0"
                       maxMemoryUsageCacheTimeInSeconds="0"
                       maxCrawlDepth=" 214748364"
                       isForcedLinkParsingEnabled="false"
                       maxPageSizeInBytes="0"
                       httpServicePointConnectionLimit="200"
                       httpRequestTimeoutInSeconds="15"
                       httpRequestMaxAutoRedirects="7"/>
        <politeness isRespectRobotsDotTextEnabled="false"
                    isRespectMetaRobotsNoFollowEnabled="false"
                    isRespectAnchorRelNoFollowEnabled="false"
                    robotsDotTextUserAgentString="Mozilla/4.0 (compatible; Montgomery-Burns)"
                    maxRobotsDotTextCrawlDelayInSeconds="60"
                    minCrawlDelayPerDomainMilliSeconds="10000" />
    </abot>
    <appSettings>
        <add key="SpawnCrawlsWhenExternalLinksFound" value="false" />
        <add key="AbotIsAsync" value="true" />
    </appSettings>
    <log4net>
        <root>
            <level value="INFO" />
           <appender-ref ref="ConsoleAppender" />
        <!--     <appender-ref ref="AbotAppender"/>-->
        </root>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date] [%thread] [%-5level] - %message - [%logger]%newline" />
            </layout>
        </appender>
        <appender name="AbotAppender" type="log4net.Appender.RollingFileAppender">
            <file value="abotlog.txt" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10240KB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date] [%thread] [%-5level] - %message - [%logger]%newline" />
            </layout>
        </appender>
        <!-- Print only messages of level WARN or above from the namespace NHibernate -->
        <logger name="NHibernate">
            <level value="ERROR" />
        </logger>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
            </dependentAssembly>
            <dependentAssembly>
            <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>